@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$visual-grid: false;
$gutter: em(57px);
@import 'bower_components/neat/app/assets/stylesheets/neat';

$body-font: 'Open Sans', sans-serif;
$header-font: 'Syncopate', sans-serif;

* {
  box-sizing: border-box;
  font-family: $body-font;
}

body {
  margin: 0;
  padding: 0;
  min-height: 800px;
}

.index-navbar {
  border-bottom: 13px solid #fff;
  background: #fdb42c;
  height: 80px;

  ul {
    position: absolute;
    right: 30px;
    margin-right: 30px;
  }

  li {
    display: inline-block;
    margin-left: 55px;
    background-color: #fdb42c;
    cursor: pointer;
    padding: 6px;
    text-decoration: none;
    color: #269fc3;
    font-size: 12px;
  }
}

.nav-left {
  float: left;
  background: url('/assets/img/bluemarlinlogo.png') center center no-repeat;
  background-size: contain;
  width: 150px;
  height: 90px;
}

.home-btn {
  position: absolute;
  top: 25px;
  left: 110px;

  a {
    text-decoration: none;
    color: #000;
    font-family: $header-font;  /* 'Syncopate', sans-serif; */
    font-size: 12px;
    font-weight: 700;
  }
}


.nav-left:hover {
  transform: rotate(360deg);
  transition: transform .9s ease-out;
}

.nav-container {
  position: relative;
  margin: 0 auto;
  background-color: #fbd42c;
  min-width: 1000px;

  a {
    text-decoration: none;
    color: #000;
    font-family: $header-font;
    font-size: 12px;
    font-weight: 700;
  }
}

.welcome-wrapper {
  background-color: #283593;
}

.wrapper {
  border-bottom: 13px solid #fff;
  background-color: #283593;
  min-height: 1000px;
}

.main-index-top {
  position: relative;
  border-top: 13px solid #181818;
  border-bottom: 13px solid #fff;
  background: url('/assets/img/island.jpg') center center no-repeat;
  background-size: cover;
  min-height: 600px;

  h1 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fdb42c;
    font-size: 64px;
    font-weight: 800;
    font-family: $header-font;
    text-shadow: 1px 1px 10px #333;
    position: relative;
    z-index: 10;
  }

  h4 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    font-family: $header-font;
    text-shadow: 1px 1px 10px #333;
    position: relative;
    z-index: 10;
  }
}

.main-index-top::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  content: '';
}

.welcome-buttons {
  z-index: 100000;
  margin: 0 auto;
  margin-top: 250px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}

.welcomer {
  cursor: pointer;
  width: 260px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
}

.welcomer::after {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .1);
  content: '';
}

.footer {
  border-top: 13px solid #fdb42c;
  background-color: #181818;
  height: 90px;
  color: #fff;
}

.footer-list {
  margin: 0 auto;
  padding-top: 20px;
  list-style: none;
  text-align: center;
}

.footer-icons {
  display: inline-block;
  padding-left: 10px;

  img {
    height: 30px;
  }
}

.footer-icons:hover {
  transform: rotate(360deg);
  transition: transform .9s ease-out;
}

.copy {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: $header-font;
  font-size: 10px;
}

/* DASHBOARD */

.top-container {
  border-top: 13px solid #000;
}

.dashboard-wrapper {
  min-height: 700px;
  background-color: #283593;
}

.search-form {
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 50px;
  text-align: right;
}

.search-input {
  border: 2px solid #fbd42c;
  text-align: right;
  margin-bottom: 10px;
  width: 400px;
  line-height: 2;
  font-family: $body-font;
}

.profile-labels {
  text-decoration: underline;
  padding-top: 5px;
}

.profile-container {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 60px;
  background-color: #fdb42c;
  border: 3px solid #000;

  a {
    text-decoration: none;
    color: #fff;
    font-family: $header-font;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #000;
    background-color: #283593;
  }
}

.avatar {
  border-radius: 75%;
  width: 100px;

  img {
    width: 100px;
    top: 0;
  }
}

.avatar,
.profile-info {
  display: inline-block;
}

.profile-stats {
  list-style: none;
}


.dashboard-list {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;

  li {
    display: inline-block;
    margin: 0 auto;
  }
}

/* EDIT-PROFILE PAGE */

.profile-editor {
  min-height: 700px;
  background-color: #283593;
}

#profile-editor-form {
  margin: 0 auto;
  text-align: center;
}

.editor {
  line-height: 2.5;
}

.edit-fieldset {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  width: 450px;

  input {
    display: block;
    margin: 0 auto;
    line-height: 2;
    margin-top: 30px;
  }
}


/* LOGIN PAGE */

.top-border-div {
  border-top: 13px solid #181818;
}

.login {
  margin: 0 auto;
  margin-top: 12%;
  background-color: #fff;
  /* background: url('/assets/img/crowsview.jpg') center center no-repeat; */
  background-size: cover;
  width: 600px;
  text-align: center;
}

.login-header {
  text-decoration: underline;
}

.login-field {
  display: block;
  margin: 20px;
  margin-left: 50px;
  border-top: 4px solid #283593;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 4px solid #283593;
  width: 370px;
  text-align: right;
  line-height: 2;
  color: #000;
  font-size: 16px;
  font-weight: bold;

}

.login-password {
  border-top: 4px solid #000;
  border-right: 4px solid #283593;
  border-bottom: 4px solid #283593;
  border-left: 4px solid #000;
}

.login-button {
  margin: 0 auto;
  margin-bottom: 40px;
  border-top: 4px solid #000;
  border-right: 4px solid #283593;
  border-bottom: 4px solid #283593;
  border-left: 4px solid #000;
  width: 100px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-fieldset {
  margin: 0;
  border: 13px solid #FDB42C;
  padding-right: 50px;
  padding-left: 50px;
}

.inputters {
  background-color: #eee;
}

/* REGISTRATION PAGE */

.registration {
  margin: 60px auto;
  background-color: #fff;
  width: 600px;
  text-align: center;
}

/* Image not coming in for '.register-form' --> need to come back to this */
.register-form {
  z-index: 10000;
  background: ('assets/img/rainbow.png') center center no-repeat;
  background-size: contain;
}

.reg-field {
  display: block;
  margin: 0 auto;
  margin-left: 100px;
  width: 370px;
  text-align: right;
  line-height: 3;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.register-button {
  margin: 0 auto;
  margin-bottom: 40px;
  border-top: 4px solid #000;
  border-right: 4px solid #283593;
  border-bottom: 4px solid #283593;
  border-left: 4px solid #000;
  width: 200px;
  line-height: 3;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.reg-fieldset {
  margin: 0;
  border: 10px solid #FDB42C
}

.reg-header {
  text-decoration: underline;
}

.first-name {
  margin-top: 20px;
}

.r1 {
  border-top: 4px solid #283593;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 4px solid #283593;
}

.r2 {
  border-top: 4px solid #000;
  border-right: 4px solid #283593;
  border-bottom: 4px solid #283593;
  border-left: 4px solid #000;
}

 /* Segue - View-One */

.left-content-wrapper,
.right-content-wrapper {
  display: inline-block;
}

.left-content-wrapper {
  width: 400px;
}

.right-content-wrapper {
  width: 600px;
}

.map-canvas {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

/* SPECIES-REF PAGE */

.species-header {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: .6em;
  color: #fff;
  font-size: 54px;
  text-shadow: 1px 1px 10px #333;
}

.logo-list {
  margin: 0 auto;
  padding-top: 20px;
  height: 1000px;

  li {
    display: inline-block;
  }
}

.background-image {
  border-bottom: 16px solid #fff;
  background: url('/assets/img/storm2.jpg') center center no-repeat;
  background-size: cover;
  height: 800px;
}

.species-wrapper {
  margin: 0 auto;
  min-height: 800px;

  h1 {
    margin: 0;
    text-align: center;
    text-decoration: underline;
    letter-spacing: .6em;
    color: #fff;
    font-size: 54px;
  }
}

.reference-tabs {
  margin: 0 auto;
  text-align: center;
}

.marine-species,
.marine-species img {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
  width: 48%;
}

.ms1 {
  width: 50%;
  float: left;
}

.sl1 {
  background: url('/assets/img/sunset.png') center center no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.sl2 {
  background: url('/assets/img/the-keys.png') center center no-repeat;
  background-size: cover;
}

.sl3 {
  background: url('/assets/img/sportfishers.jpg') center center no-repeat;
  background-size: cover;
}

.sl4 {
  background: url('/assets/img/hatteras-yacht.jpg') center center no-repeat;
  background-size: cover;
}

.sl5 {
  background: url('/assets/img/7.jpg') center center no-repeat;
  background-size: cover;
}

.sl6 {
  background: url('/assets/img/blue-running.png') center center no-repeat;
  background-size: cover;
}

.sl7 {
  background: url('/assets/img/crowsview.jpg') center center no-repeat;
  background-size: cover;
}

.sl8 {
  background: url('/assets/img/from-above.png') center center no-repeat;
  background-size: cover;
}

.sl9 {
  background: url('/assets/img/deep-sea-charter-fishing.jpg') center center no-repeat;
  background-size: cover;
}

.sl10 {
  background: url('/assets/img/burnin.jpg') center center no-repeat;
 background-size: cover;
}


 /* MEDIA PAGE */

.media-room-header {
  text-align: center;
  text-shadow: 1px 1px 10px #333;
  color: #fff;
  font-size: 64px;
}

.pswp img {
  max-width: 500px;
  max-height: 500px;
  padding-bottom: 50px;
}

.photo-uploader {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;

  button {
    background-color: #fdb42c;
    border: 2px solid #fff;
    color: #000;
    font-family: $header-font;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }
}

.forum-wrapper {
  border-bottom: 13px solid #fff;
  background-color: #283593;
  min-height: 700px;
}

.media-list {
  list-style: none;
}

h5 {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.media-icons {
  display: inline-block;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid #fdb42c;

  img {
    margin: 20px 0 10px 10px;
    width: 200px;
    height: 200px;
  }
}

/* LOADING ROUTE */

.mask {
  position: fixed;
  z-index: 100000;
  background-color: #fff;
  width: 100%;
  height: 100%;

}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100001;
  margin: -15px 0 0 -15px;
  background: url('/assets/img/loader.gif') center center no-repeat;
  width: 31px;
  height: 31px;
}


/* WEATHER-RADAR */

.weather-room-header {
  text-align: center;
  font-size: 64px;
  color: #000;
  text-shadow: 1px 1px 10px #333;
}

.weather-radar-wrapper {
  min-height: 1100px;
}

.weather-wrapper {
  margin: 0 auto;
  background: url('/assets/img/heavyseas.jpg') center center no-repeat;
  background-color: #283593;
  background-size: cover;
  min-height: 1100px;
}

.weather-box {
  margin: 0 auto;
  text-align: center;
}

.weather-radar-container {
  margin: 5%;
  margin-top: 1%;

  img {
    width: 600px;
    border-radius: 80%;
    border: 2px solid #283593;
  }
}

.weather {
  margin: 0;
}

.location {
  text-align: center;
}

@mixin fill-parent() {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-weight: 800;
  margin: 0;
  line-height: 2;
  letter-spacing: .059em;
  font-family: $header-font;
}

.weather-stats,
.location-stats,
.date-stats {
  @include fill-parent;

  p {
    margin: 0;
    line-height: 2;
  }
}

.weather-icons-list {
  padding: 100px 0 50px;
}

.wi,
.wis {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.statistics {
  display: inline-block;
  font-weight: bold;
}

.weather-room-header {
  margin: 0;
  color: #000;
}

.weather-box-data {
  margin: 0 auto;
  border: 5px solid #fff;
  background-color: #fdb42c;
  width: 80%;
  text-align: center;
}

.weather-data-form {
  border: 5px solid #fff;
  background-color: #283593;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.forecast {
  background-color: #fdb42c;
}

.wu-credit {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 2px;
  text-align: center;
  color: #fff;

  img {
    margin: 0 auto;
    height: 80px;
    vertical-align: middle;
  }
}

.search-field {
  @include fill-parent;
  border: 2px solid #000;
  text-align: center;
}

.photo-gallery {
  padding-bottom: 60px;

  ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
}
