@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  min-width: 900px;
}

.navbar {
  background: #fff;
  height: 80px;

  ul {
    position: absolute;
    right: 0;
  }

  li {
    display: inline-block;
    transition: all .4s ease;
    margin-left: 14px;
    border: 2px solid transparent;
    padding: 6px;
    color: #269fc3;
    font-family: 'Open Sans', sans-serif;
  }
}

.navbar ul li:hover {
  cursor: pointer;
  color: #ca230e;
}

.hero-banner {
  border-bottom: 1px solid black;
  background: url('') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 600px;

  h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 74px;
  }

  h4 {
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
  }
}

section p {
  font-size: 1.3em;
}

section h2 {
  text-align: center;
  font-family: inherit;
  font-size: 1.7em;
  font-style: italic;
}

.about {
  background: #6a91fc;
  padding: 75px 0;
  height: 300px;
}

.portfolio {
  background: #b7a93c;
  padding: 75px 0;
  height: 300px;
}

.blog {
  background: #b82c1e;
  padding: 75px 0;
  height: 300px;

  h2 {
    margin-top: 0;
    padding-top: 30px;
  }
}

.contact {
  background: #00951d;
  padding: 75px 0;
  height: 300px;
}

.footer {
  background-color: #4d74d2;
  height: 150px;
}
