@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav-container {
  position: relative;
  margin: 0 auto;
  min-width: 1000px;
  background-color: #BDBDBD;
}

.main-index {
  height: 800px;
  background-color: #EBD535;
}

.index-navbar {
  background: #BDBDBD;
  height: 80px;

  ul {
    position: absolute;
    right: 40px;
  }

  li {
    display: inline-block;
    transition: all .4s ease;
    margin-left: 14px;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 6px;
    color: #269fc3;
    font-family: 'Open Sans', sans-serif;
  }
}

.footer {
  background-color: #4d74d2;
  height: 150px;
}

.copy {
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 45%;
}

.login {
  margin: 0 auto;
  border: 6px solid #000;
  padding-top: 75px;
  width: 500px;
  min-height: 900px;
  text-align: center;
}

.field {
  display: block;
  margin: 20px;
  border-top: 4px solid #d42b1f;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 4px solid #d42b1f;
  padding-left: 170px;
  text-align: right;
  line-height: 2;
}

.login-button {
  margin-left: 200px;
  border-top: 4px solid #d42b1f;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 4px solid #d42b1f;
}
