<div class="dashboard-wrapper">
  <div class="top-container">
    <form class="search-form" {{action 'search' on='submit' }}>
      {{input type="text" class="search-input" placeholder="Search" value=searchTerm}}
    </form>
    <div class="profile-container">
      <div class="avatar"><img src="/assets/img/marlin_logo.png"></div>
      <div class="profile-info">
        <ul class="profile-stats">
          <li></li>
          <li></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="bottom-container">
        <ul class="dashboard-list">
          <li></li>
          <li></li>
          <li></li>
        </ul>
  </div>
</div>
{{outlet}}
