<div class="forum-wrapper">
  <div class="top-border-div"></div>
      <h1 class="media-room-header" contenteditable="">Media Room</h1>
      <div class="photo-gallery">
      {{#photo-swipe}}
        <ul class="media-list">
          <li class="media-icons icon-1.2"><a href="/assets/img/backflip.png" data-width="250" data-height="250"><img src="/assets/img/backflip.png"></a></li>
          <li class="media-icons icon-2.1"><a href="/assets/img/deep-sea-charter-fishing.jpg" data-width="250" data-height="250"><img src="/assets/img/deep-sea-charter-fishing.jpg"></a></li>
          <li class="media-icons icon-2.2"><a href="/assets/img/sky.jpg" data-width="250" data-height="250"><img src="/assets/img/sky.jpg"></a></li>
          <li class="media-icons icon-3.2"><a href="/assets/img/marlin.jpg" data-width="250" data-height="250"><img src="/assets/img/marlin.jpg"></a></li>
          <li class="media-icons icon-4.2"><a href="/assets/img/fighting-dolphin.jpg" data-width="250" data-height="250"><img src="/assets/img/fighting-dolphin.jpg"></a></li>
          <li class="media-icons icon-5.2"><a href="/assets/img/fishon.jpg" data-width="250" data-height="250"><img src="/assets/img/fishon.jpg"></a></li>
          <li class="media-icons icon-5.3"><a href="/assets/img/mackeral.jpg" data-width="250" data-height="250"><img src="/assets/img/mackeral.jpg"></a></li>
          <li class="media-icons icon-6.2"><a href="/assets/img/snagged.jpg" data-width="250" data-height="250"><img src="/assets/img/snagged.jpg"></a></li>
          <li class="media-icons icon-7.2"><a href="/assets/img/bigtuna.jpg" data-width="250" data-height="250"><img src="/assets/img/bigtuna.jpg"></a></li>
          <li class="media-icons icon-8.1"><a href="/assets/img/7.jpg" data-width="250" data-height="250"><img src="/assets/img/7.jpg"></a></li>
          <li class="media-icons icon-8.2"><a href="/assets/img/blackmarlin.jpg" data-width="250" data-height="250"><img src="/assets/img/blackmarlin.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/runningout.jpg" data-width="250" data-height="250"><img src="/assets/img/runningout.jpg"></a></li>

          <li class="media-icons icon-9.2"><a href="/assets/img/blue-running.png" data-width="250" data-height="250"><img src="/assets/img/blue-running.png"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/burnin.jpg" data-width="250" data-height="250"><img src="/assets/img/burnin.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/blue-trolling.png" data-width="250" data-height="250"><img src="/assets/img/blue-trolling.png"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/deep-sea-charter-fishing.jpg" data-width="250" data-height="250"><img src="/assets/img/deep-sea-charter-fishing.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/deep-sea-fishing.jpg" data-width="250" data-height="250"><img src="/assets/img/deep-sea-fishing.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/from-above.png" data-width="250" data-height="250"><img src="/assets/img/from-above.png"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/sport-fish.jpg" data-width="250" data-height="250"><img src="/assets/img/sport-fish.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/jumping-sailfish.jpg" data-width="250" data-height="250"><img src="/assets/img/jumping-sailfish.jpg"></a></li>

          <li class="media-icons icon-9.2"><a href="/assets/img/marina.jpg" data-width="250" data-height="250"><img src="/assets/img/marina.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/marlin-breach.png" data-width="250" data-height="250"><img src="/assets/img/marlin-breach.png"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/pacific-sailfish.jpg" data-width="250" data-height="250"><img src="/assets/img/pacific-sailfish.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/reel-while-running.png" data-width="250" data-height="250"><img src="/assets/img/reel-while-running.png"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/sick.jpg" data-width="250" data-height="250"><img src="/assets/img/sick.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/teasers.jpg" data-width="250" data-height="250"><img src="/assets/img/teasers.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/killer.jpg" data-width="250" data-height="250"><img src="/assets/img/killer.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/blue.jpg" data-width="250" data-height="250"><img src="/assets/img/blue.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/miami.jpg" data-width="250" data-height="250"><img src="/assets/img/miami.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/humdinger.jpg" data-width="250" data-height="250"><img src="/assets/img/humdinger.jpg"></a></li>
        </ul>
        {{/photo-swipe}}
      </div>
    </div>

    {{#if shouldShowFilepicker}}
      {{ember-filepicker options=options onSelection='fileSelected' onClose='closeFilepicker' onError='onError'}}
    {{/if}}

    <button {{action "openFilepicker"}}>Upload Photo</button>
{{outlet}}
<!-- <div class="media-boxes box-1"></div>
<div class="media-boxes box-2"></div>
<div class="media-boxes box-3"></div>
<div class="media-boxes box-4"></div>
<div class="media-boxes box-5"></div>
<div class="media-boxes box-6"></div>
<div class="media-boxes box-7"></div>
<div class="media-boxes box-8"></div>
<div class="media-boxes box-9"></div> -->
