<div class="dashboard-wrapper">
  <div class="leader-container">

    <div class="gc-tourneys">
      <ul class="banner-list">
        <li class="banner bibt"><a href="http://bohicket.com/events/billfish-invitational/"><img src="assets/img/events/bohicket.png" alt="Bohicket Marina Invitational Billfish Tournament"></a></li>
        <li class="banner gcbc"><a href="http://www.fishcbc.com/"><img src="assets/img/events/cdc2.png" alt="Carolina Billfish Classic"></a></li>
      </ul>
      <ul class="banner-list">
        <li class="banner gbft"><a href="http://georgetownlandingmarina.com/"><img src="assets/img/events/georgetown.png" alt="Georgetown Blue Marlin Tournament"></a></li>
        <li class="banner mega"><a href="http://megadocktournament.com/"><img src="assets/img/events/megadock.png" alt="The Megadock Billfishing Tournament"></a></li>
      </ul>
    </div>

    <div class="leader-board">
      <h1>Leader Board</h1>
      {{#jqui-accordion}}
      <h3>Georgetown Blue Marlin Tournament</h3>
      <div class="georgetown">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
          </tr>
          <tr>
            <td>Miss Wy</td>
            <td>3 Blue Marlin Released</td>
            <td>1800 Points</td>
          </tr>
          <tr>
            <td>Petrel</td>
            <td>2 Blue Marlin &amp; 1 Sail Released</td>
            <td>1400 Points</td>
          </tr>
          <tr>
            <td>Caramba</td>
            <td>2 Blue Marlin Released</td>
            <td>1200 Points</td>
          </tr>
        </table>
      </div>
      <h3>Bohicket Billfish Invitational</h3>
      <div class="bohicket">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
          </tr>
          <tr>
            <td>Reel Passion</td>
            <td>2 Blue Marlin &amp; 1 White Marlin Released</td>
            <td>1500 Points</td>
          </tr>
          <tr>
            <td>My Three Sons</td>
            <td>2 Blue Marlin Released</td>
            <td>1200 Points</td>
          </tr>
          <tr>
            <td>Mutts &amp; Jeff</td>
            <td>2 Blue Marlin Released</td>
            <td>1200 Points</td>
          </tr>
        </table>
      </div>
      <h3>Carolina Billfish Classic (Real-Time Updated Subject To Change)</h3>
      <div class="carolina">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
          </tr>
          <tr>
            <td>Reel Passion</td>
            <td>1 Blue Marlin Released</td>
            <td>600 Points</td>
          </tr>
          <tr>
            <td>Rascal</td>
            <td>1 Blue Marlin Released</td>
            <td>600 Points</td>
          </tr>
          <tr>
            <td>Sportin' Life</td>
            <td>Sailfish Released</td>
            <td>200 Points</td>
          </tr>
        </table>
      </div>
      <h3>Mega Dock</h3>
      <div class="megadock">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <h3>Governor's Cup (Overall Throught Bohicket)</h3>
      <div class="Overall">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Points</th>
            <th>Update</th>
          </tr>
          <tr>
            <td>Miss Wy</td>
            <!-- <td></td> -->
            <td>3050 Points</td>
          </tr>
          <tr>
            <td>Reel Passion</td>
            <td>2750 Points</td>
            <td>(With Blue Released in CBC, +600 Points Taking the Lead)</td>
          </tr>
          <tr>
            <td>My Three Sons</td>
            <!-- <td></td> -->
            <td>2450 Points</td>
          </tr>
        </table>
      </div>
      {{/jqui-accordion}}
    </div>
    <!-- <ul class="gc-logo">
      <li>
      <a href="http://govcup.dnr.sc.gov/"><img src="assets/img/events/gc.png" alt="The Governor's Cup"></a>
    </li>
  </ul> -->
  </div>
</div>
{{outlet}}
