<div class="dashboard-wrapper">
  <div class="leader-container">

    <div class="gc-tourneys">
      <ul class="banner-list">
        <li class="banner bibt"><a href="http://bohicket.com/events/billfish-invitational/"><img src="assets/img/events/bohicket.png" alt="Bohicket Marina Invitational Billfish Tournament"></a></li>
        <li class="banner gcbc"><a href="http://www.fishcbc.com/"><img src="assets/img/events/cdc2.png" alt="Carolina Billfish Classic"></a></li>
      </ul>
      <ul class="banner-list">
        <li class="banner gbft"><a href="http://georgetownlandingmarina.com/"><img src="assets/img/events/georgetown.png" alt="Georgetown Blue Marlin Tournament"></a></li>
        <li class="banner mega"><a href="http://megadocktournament.com/"><img src="assets/img/events/megadock.png" alt="The Megadock Billfishing Tournament"></a></li>
      </ul>
    </div>

    <div class="leader-board">
      <h1>Leader Board</h1>
      {{#jqui-accordion}}
      <h3>Mega Dock</h3>
      <div class="megadock">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
            <th>Owner</th>
            <th>Captain</th>
          </tr>
          <tr>
            <td>HalfLit</td>
            <td>856 lb. Blue Marlin</td>
            <td>120</td>
            <td>R. Parker</td>
            <td>R. Smith</td>
          </tr>
          <tr>
            <td>Hepatitis-Sea</td>
            <td>704 lb. White Marlin</td>
            <td>110</td>
            <td>J. Nicholson</td>
            <td>J. Doe</td>
          </tr>
          <tr>
            <td>Slippery-When-Wet</td>
            <td>690 lb. Blue Marlin</td>
            <td>105</td>
            <td>J. Alda</td>
            <td>D. Koontz</td>
          </tr>
        </table>
      </div>
      <h3>Carolina Billfish Classic</h3>
      <div class="carolina">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
            <th>Owner</th>
            <th>Captain</th>
          </tr>
          <tr>
            <td>HalfLit</td>
            <td>856 lb. Blue Marlin</td>
            <td>120</td>
            <td>R. Parker</td>
            <td>R. Smith</td>
          </tr>
          <tr>
            <td>Hepatitis-Sea</td>
            <td>704 lb. White Marlin</td>
            <td>110</td>
            <td>J. Nicholson</td>
            <td>J. Doe</td>
          </tr>
          <tr>
            <td>Slippery-When-Wet</td>
            <td>690 lb. Blue Marlin</td>
            <td>105</td>
            <td>J. Alda</td>
            <td>D. Koontz</td>
          </tr>
        </table>
      </div>
      <h3>Georgetown Blue Marlin Tournament</h3>
      <div class="georgetown">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
            <th>Owner</th>
            <th>Captain</th>
          </tr>
          <tr>
            <td>HalfLit</td>
            <td>856 lb. Blue Marlin</td>
            <td>120</td>
            <td>R. Parker</td>
            <td>R. Smith</td>
          </tr>
          <tr>
            <td>Hepatitis-Sea</td>
            <td>704 lb. White Marlin</td>
            <td>110</td>
            <td>J. Nicholson</td>
            <td>J. Doe</td>
          </tr>
          <tr>
            <td>Slippery-When-Wet</td>
            <td>690 lb. Blue Marlin</td>
            <td>105</td>
            <td>J. Alda</td>
            <td>D. Koontz</td>
          </tr>
        </table>
      </div>
      <h3>Bohicket Billfish Invitational</h3>
      <div class="bohicket">
        <table>
          <colgroup span="5" class="columns"></colgroup>
          <tr>
            <th>Boat</th>
            <th>Catch</th>
            <th>Points</th>
            <th>Owner</th>
            <th>Captain</th>
          </tr>
          <tr>
            <td>HalfLit</td>
            <td>856 lb. Blue Marlin</td>
            <td>120</td>
            <td>R. Parker</td>
            <td>R. Smith</td>
          </tr>
          <tr>
            <td>Hepatitis-Sea</td>
            <td>704 lb. White Marlin</td>
            <td>110</td>
            <td>J. Nicholson</td>
            <td>J. Doe</td>
          </tr>
          <tr>
            <td>Slippery-When-Wet</td>
            <td>690 lb. Blue Marlin</td>
            <td>105</td>
            <td>J. Alda</td>
            <td>D. Koontz</td>
          </tr>
        </table>
      </div>
      {{/jqui-accordion}}
    </div>
    <ul class="gc-logo">
      <li>
      <a href="http://govcup.dnr.sc.gov/"><img src="assets/img/events/gc.png" alt="The Governor's Cup"></a>
    </li>
  </ul>
  </div>
</div>
{{outlet}}
