  <div class="top-border-div"></div>
  <div class="background-image">
    <div class="species-wrapper">
      <h1 class="species-header">Game Fish Charts</h1>
        <div class="reference-tabs">
          {{#jqui-tabs}}
               <ul>
                   <li class="species-1"><a href="#tabs-1">One</a></li>
                   <li class="species-2"><a href="#tabs-2">Two</a></li>
                   <li class="species-3"><a href="#tabs-3">Three</a></li>
                   <li class="species-4"><a href="#tabs-4">Four</a></li>
                   <li class="species-5"><a href="#tabs-5">Five</a></li>
                   <li class="species-6"><a href="#tabs-6">Six</a></li>
                   <li class="species-7"><a href="#tabs-7">Seven</a></li>
                   <li class="species-8"><a href="#tabs-8">Eight</a></li>
                   <li class="species-9"><a href="#tabs-9">Nine</a></li>
                   <li class="species-10"><a href="#tabs-10">Ten</a></li>
               </ul>
               <div id="tabs-1">
                   <ul class="species-list sl1">
                     <li class="marine-species ms1"><img src="/assets/img/marlinchart.jpg"></li>
                     <li class="marine-species ms2"><img src="/assets/img/species/600x790.png"></li>
                   </ul>
               </div>
               <div id="tabs-2">
                   <ul class="species-list sl2">
                     <li class="marine-species ms3"><img src="/assets/img/species/620x800.png"></li>
                     <li class="marine-species ms4"><img src="/assets/img/species/675x765.png"></li>
                   </ul>
               </div>
               <div id="tabs-3">
                   <ul class="species-list sl3">
                     <li class="marine-species ms5"><img src="/assets/img/species/665x730.png"></li>
                     <li class="marine-species ms6"><img src="/assets/img/species/615x725.png"></li>
                   </ul>
               </div>
               <div id="tabs-4">
                   <ul class="species-list sl4">
                     <li class="marine-species ms7"><img src="/assets/img/species/660x740.png"></li>
                     <li class="marine-species ms8"><img src="/assets/img/species/630x770.png"></li>
                   </ul>
               </div>
               <div id="tabs-5">
                   <ul class="species-list sl5">
                     <li class="marine-species ms9"><img src="/assets/img/species/650x760.png"></li>
                     <li class="marine-species ms10"><img src="/assets/img/species/635x780.png"></li>
                   </ul>
               </div>
               <div id="tabs-6">
                   <ul class="species-list sl6">
                     <li class="marine-species ms11"><img src="/assets/img/species/640x780.png"></li>
                     <li class="marine-species ms12"><img src="/assets/img/species/680x780.png"></li>
                   </ul>
               </div>
               <div id="tabs-7">
                   <ul class="species-list sl7">
                     <li class="marine-species ms13"><img src="/assets/img/species/660x755.png"></li>
                     <li class="marine-species ms14"><img src="/assets/img/species/645x750.png"></li>
                   </ul>
               </div>
               <div id="tabs-8">
                   <ul class="species-list sl8">
                     <li class="marine-species ms15"><img src="/assets/img/species/660x580.png"></li>
                     <li class="marine-species ms16"><img src="/assets/img/species/625x740.png"></li>
                   </ul>
               </div>
               <div id="tabs-9">
                   <ul class="species-list sl9">
                     <li class="marine-species ms17"><img src="/assets/img/species/695x740.png"></li>
                     <li class="marine-species ms18"><img src="/assets/img/species/620x565.png"></li>
                   </ul>
               </div>
               <div id="tabs-10">
                   <ul class="species-list sl10">
                     <li class="marine-species ms19"><img src="/assets/img/species/660x765.png"></li>
                     <li class="marine-species ms20"><img src="/assets/img/species/615x740.png"></li>
                   </ul>
               </div>
           {{/jqui-tabs}}
        </div>
    </div>
  </div>
{{outlet}}
