  <div class="top-border-div"></div>
  <div class="background-image">
    <div class="species-wrapper">
      <h1 class="species-header">Game Fish Charts</h1>
        <div class="reference-tabs">
          {{#jqui-tabs}}
               <ul>
                   <li class="species-1"><a href="#tabs-1">Marlin | Sailfish | Swordfish | Billfish Identifier</a></li>
                   <li class="species-2"><a href="#tabs-2">Sea Bass | Bluefish | Drum | Barracuda | Amberjack</a></li>
                   <li class="species-3"><a href="#tabs-3">Grouper | Bonito | Albacore | Tuna (Bigeye, Blackfin)</a></li>
                   <li class="species-4"><a href="#tabs-4">Spanish Mackeral | King Mackeral | Wahoo | Tuna (Skipjack, Yellowfin, Bluefin)</a></li>
                   <li class="species-5"><a href="#tabs-5">Flounder | Trout | Striped Bass | Tarpon</a></li>
                   <li class="species-6"><a href="#tabs-6">Dolphin | Tilefish | Gag | Menhaden</a></li>
                   <li class="species-7"><a href="#tabs-7">Snapper | Triggerfish | Scamp</a></li>
                   <li class="species-8"><a href="#tabs-8">Mako | Tiger Shark | Hammerhead | Black Tip</a></li>
                   <li class="species-9"><a href="#tabs-9">Vermillion | Spadefish | Spottail</a></li>
                   <li class="species-10"><a href="#tabs-10">Sheepshead | Silver Perch | Mullet | Skate</a></li>
               </ul>
               <div id="tabs-1">
                   <ul class="species-list sl1">
                     <li class="marine-species ms1 billfish"><img src="/assets/img/marlinchart.jpg"></li>
                     <li class="marine-species ms2 marlin"><img src="/assets/img/species/660x765.png"></li>
                   </ul>
               </div>
               <div id="tabs-2">
                   <ul class="species-list sl2">
                     <li class="marine-species ms3 drum"><img src="/assets/img/species/630x770.png"></li>
                     <li class="marine-species ms4 amberjack"><img src="/assets/img/species/645x750.png"></li>
                   </ul>
               </div>
               <div id="tabs-3">
                   <ul class="species-list sl3">
                     <li class="marine-species ms15 grouper"><img src="/assets/img/species/660x580.png"></li>
                     <li class="marine-species ms16 albacore"><img src="/assets/img/species/625x740.png"></li>
                   </ul>
               </div>
               <div id="tabs-4">
                   <ul class="species-list sl4">
                     <li class="marine-species ms17 bluefin"><img src="/assets/img/species/695x740.png"></li>
                     <li class="marine-species ms18 spanish"><img src="/assets/img/species/620x565.png"></li>
                   </ul>
               </div>
               <div id="tabs-5">
                   <ul class="species-list sl5">
                     <li class="marine-species ms7 cobia"><img src="/assets/img/species/660x740.png"></li>
                     <li class="marine-species ms9 speckled-trout"><img src="/assets/img/species/650x760.png"></li>
                   </ul>
               </div>
               <div id="tabs-6">
                   <ul class="species-list sl6">
                     <li class="marine-species ms13 toadfish"><img src="/assets/img/species/660x755.png"></li>
                     <li class="marine-species ms5 menhaden"><img src="/assets/img/species/665x730.png"></li>
                  </ul>
               </div>
               <div id="tabs-7">
                   <ul class="species-list sl7">
                     <li class="marine-species ms12 hogfish"><img src="/assets/img/species/680x780.png"></li>
                     <li class="marine-species ms11 triggerfish"><img src="/assets/img/species/640x780.png"></li>
                   </ul>
               </div>
               <div id="tabs-8">
                   <ul class="species-list sl8">
                     <li class="marine-species ms6 hickory-shad"><img src="/assets/img/species/615x725.png"></li>
                     <li class="marine-species ms20 shark"><img src="/assets/img/species/615x740.png"></li>
                   </ul>
               </div>
               <div id="tabs-9">
                   <ul class="species-list sl9">
                     <li class="marine-species ms10 pinfish"><img src="/assets/img/species/635x780.png"></li>
                     <li class="marine-species ms14 spadefish"><img src="/assets/img/species/600x790.png"></li>
                   </ul>
               </div>
               <div id="tabs-10">
                   <ul class="species-list sl10">
                     <li class="marine-species ms8 northern-searobin"><img src="/assets/img/species/620x800.png"></li>
                     <li class="marine-species ms19 pinfish"><img src="/assets/img/species/675x765.png"></li>
                   </ul>
               </div>
           {{/jqui-tabs}}
        </div>
    </div>
  </div>
{{outlet}}
