<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#portfolio">Section</a></li>
      <li><a href="#blog">Section</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
{{outlet}}


<div class="hero-banner">
  <div class="container">
    <h1>Welcome!</h1>
    <a href="" class="launch"><div class="button">Let's Begin!</div></a>
  </div>
</div>


<!-- <div class="about">
  <a id="about">Section</a>
  <div class="container"></div>
</div>

<div class="portfolio">
  <a id="portfolio">Section</a>
  <div class="container"></div>
</div>

<div class="blog">
  <a id="blog">Blog</a>
  <div class="container">
  </div>
</div>

<div class="contact">
  <a id="contact">Section</a>
  <div class="container"></div>
</div>

{{outlet}}

<footer class="footer">
  <p>Lorem ipsum dolor sit amet, consectetur</p>
</footer> -->
