<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class="hero-banner">
  <div class="container">
    <h1>Welcome!</h1>
    <a href="" class="launch"><div class="button">Let's Begin!</div></a>
  </div>
</div>

<div class="about">
  <a id="about"></a>
  <div class="container"></div>
</div>

<div class="portfolio">
  <a id="portfolio"></a>
  <div class="container"></div>
</div>

<div class="blog">
  <a id="blog"></a>
  <div class="container">
  </div>
</div>

<div class="contact">
  <a id="contact"></a>
  <div class="container"></div>
</div>

{{outlet}}
