{{outlet}}
<div class="footer">
  <ul class="footer-list">
    <li class="footer-icons"><img src="/assets/img/home-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/fish-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/location-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/compass-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/navigation-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/settings-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/twitter-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/facebook-48.png"></li>
    <li class="footer-icons"><img src="/assets/img/search-find-48.png"></li>
  </ul>
  <p class="copy">The Iron Yard &copy; 2015 Ben McLean</p>
</div>
