<form class="login-form">
  <h1>Login Using Your Email Address and Password</h1>
  <h6>If you haven't created an acount, please visit the Registration {{link-to register.hbs}} section.</h6>
    <hr />
  <input type="text" class="login-email">
    <hr />
  <input type="text" class="login-password">
    <hr />
  <button class="login-button">Login</button>
    <hr />
</form>
