
<form class="person-form">
  <h1>Registration: Create An Account!</h1>
  <hr />
  <input class="first-name" type="text" placeholder="First Name">
  <hr />
  <input class="last-name" type="text" placeholder="Last Name">
  <hr />
  <input class="address" type="text" placeholder="Address">
  <hr />
  <input class="phone" type="text" placeholder="Phone Number">
  <hr />
  <input class="username" type="text" placeholder="Create Username">
  <hr />
  <input class="password" type="text" placeholder="Create Password">
  <hr />
  <input class="email-address" type="text" placeholder="Example@Email.com">
  <hr />
  <button class="save-user">Save User</button>
</form>
