<div class="welcome-wrapper">
  <div class="main-index-top">
    <h1>Angler's Hook</h1>
    <h4>The 'One-Stop' <br>for avid anglers and <br>sportfishing enthusiasts</h4>
    <form class="welcome-buttons">
      <!-- {{input class="welcomer wlogin" value=login placeholder='Login'}}
      {{input class="welcomer wregister" value=reguster placeholder='Create An Account'}} -->
    </form>
  </div>
  <div class="main-index-bottom"></div>
</div>
{{outlet}}
